<div class="container">

  <h1>Chuck's answer</h1>

  <p>
    -Me: <br>
    <%= @question %>  <br> <br>
    -Your Coach: <br>
    <%= @answer %>
  </p>
  <img src="https://vignette.wikia.nocookie.net/mugen/images/b/b6/Chuck-norris.png/revision/latest?cb=20120615045306" alt="chuck" id="img-chuck">

  <%= link_to "Ask a new question", ask_path %>

</div>


