<div class="container">

<h1>Ask your question to Chuck Norris</h1>
<img src="http://pngimg.com/uploads/chuck_norris/chuck_norris_PNG14.png" alt="chuck" id="img-chuck">
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask your question">
  <input type="submit" class = "btn-medium">
</form>

</div>
